<div class="main__heading">
  <% if @user == @current_user %>
    <h2>My bookmarks</h2>
  <% else %>
    <h2>Bookmarks for <%= @user.email %></h2>
  <% end %>
</div>

<div class="main__subheading">

  <% if params[:id] == @current_user.id %>
  <h4>
    <a href="<%= graphs_path %>">Stats <i class="fa fa-bar-chart"></i></a>
  </h4>
  <% end %>
</div>

<div class="btn-container">
  <%= link_to 'New bookmark', new_bookmark_path, :class => 'btn' %>
</div>

<% @user.categories.each do |category| %>

  <h3><%= category.name %></h3>

    <ul>
      <% category.bookmarks.reverse.each do |bookmark| %>
        <%= render :partial => 'magic', locals: { :bookmark => bookmark } %>
      <% end %>
  </ul>
<% end %>
