<div class="main__heading">
  <h2>All users</h2>
</div>

  <% User.all.each do |user| %>
  <div class="user-each">

<div class="user-index__image-container">
  <%= image_tag user.image_url, :class => 'profile-image profile-image--small', :alt => 'Profile image' %>

</div>

<div class="user-index__details-container">
  <p class="user-index__name truncate">
    <b>Name: </b>
    <% if user.name %>
      <%= user.name %>
    <% else %>
      Not provided
    <% end %>
  </p>

  <p class="user-index__email truncate">
    <b>Email: </b>
    <%= user.email %>
  </p>

  <p>
    <b> <%= link_to "All bookmarks", user_bookmarks_path(user.id) %></b>
  </p>

</div>



  <p>
    <b>By categories: </b>
    <% user.categories.each do |category| %>
      <%= link_to category.name, category_path(category.id) %>
    <% end %></p>

  </div>
  <% end %>
