<div class="main__heading">
  <h2>Sign up</h2>
</div>
<div class="main__subheading">
  <p>Find me in app/views/users/new.html.erb</p>
</div>

<%= form_for @user, :html => {:class => 'form'} do |f| %>

<% if @user.errors.any? %>
  <ol>
    <% @user.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ol>
<% end %>



<fieldset>
  <%= f.label :email, :class => 'label' %>
  <%= f.email_field :email, :required => true, :class => 'input' %>
</fieldset>

<fieldset>
  <%= f.label :password, :class => 'label' %>
  <%= f.password_field :password, :required => true, :class => 'input' %>
</fieldset>

<fieldset>
  <%= f.label :password_confirmation, "Confirm", :class => 'label' %>
  <%= f.password_field :password_confirmation, :required => true, :class => 'input' %>
</fieldset>

<fieldset class="text-center">
  <%= f.submit "Sign up", :class => 'btn' %>
</fieldset>

<% end %>
