<section class="main-section">

  <% if flash[:error].present? %>
  <h3 class="bookmark__error-heading">
    <%= flash[:error] %>
  </h3>
  <% end %>

  <% if @current_user == nil %>
  <div class="container container--home">
    <div class="btn-container">
      <%= link_to 'Sign up', signup_path, :class => 'btn btn--home' %>
    </div>

    <div class="btn-container">
      <%= link_to 'Log in', login_path, :class => 'btn btn--home' %>
    </div>
  </div>

<% else %>

  <h1>Welcome,
    <br/><%= @current_user.name %></h1>

  <div class="home-new__container">

    <div class="home-welcome">
      <p>Let's get started!</p>
    </div>
    <div class="btn-container">
      <%= link_to 'New bookmark', new_bookmark_path, :class => 'btn' %>
    </div>
  </div>

  <% end %>

</section>
