<div class="main__heading">
  <h2>Home Page</h2>
</div>

<div class="main__subheading">
</div>

<section class="main-section">

  <% if @current_user.present? %>

  <p>You are logged in as: <%= @current_user.email %></p>

  <div class="btn-container">
    <%= link_to 'New bookmark', new_bookmark_path, :class => 'btn' %>
  </div>

  <div class="btn-container">
    <%= link_to 'My Bookmarks', bookmarks_path, :class => 'btn' %>
  </div>

  <div class="btn-container">
    <%= link_to 'My Categories', categories_path, :class => 'btn' %>
  </div>

  <div class="btn-container">
    <%= link_to 'My Reading List', read_path, :class => 'btn' %>
  </div>

  <div class="btn-container">
    <%= link_to 'Explore', users_path, :class => 'btn' %>
  </div>






<% else %>
  <div>
    <%= link_to 'Sign up', signup_path, :class => 'btn' %>
    <%= link_to 'Log in', login_path, :class => 'btn' %>
  </div>
  <% end %>

</section>
