<!DOCTYPE html>
<html>
  <head>
    <title>SorterApp</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script> -->
    <%= cloudinary_js_config %>

  </head>
  <body>
    <header class="header">
      <div class="container">


        <h1><%= link_to "SORTER", root_path, :class => 'header-title' %></h1>
        <% if @current_user.present? %>
        <p>for <%= @current_user.name %></p>
        <% end %>
      </div>
    </header>
    <div class="sub-header">
    </div>

<% if @current_user.present? %>
    <nav class="nav">
      <div class="nav-list">

        <a href="<%= read_path %>" class="nav-list__item">
          <i class="nav-list__icon fa fa-newspaper-o"></i>
          <i class="nav-list__label">Read</i>
        </a>

        <a href="<%= favourites_path %>" class="nav-list__item">
          <i class="nav-list__icon fa fa-heart-o"></i>
          <i class="nav-list__label">Favourites</i>
        </a>

        <a href="<%= new_bookmark_path %>" class="nav-list__item">
          <i class="nav-list__icon fa fa-plus"></i>
          <i class="nav-list__label">New</i>
        </a>

        <a href="<%= users_path %>" class="nav-list__item">
          <i class="nav-list__icon fa fa-globe"></i>
          <i class="nav-list__label">Explore</i>
        </a>

        <a href="#" class="nav-list__item hamburger">
          <i class="nav-list__icon fa fa-bars"></i>
          <i class="nav-list__label">Menu</i>
        </a>



    </div>
  </nav>

  <div class="sub-nav">
    <div class="container container--sub-nav">
      <%= link_to "My bookmarks", user_bookmarks_path(@current_user.id), :class => 'sub-nav__item' %>
      <%= link_to "My categories", categories_path, :class => 'sub-nav__item' %>
      <%= link_to "View profile", user_path(@current_user.id), :class => 'sub-nav__item' %>
      <%= link_to "Edit profile", users_edit_path, :class => 'sub-nav__item' %>
      <%= link_to "Help", help_path, :class => 'sub-nav__item' %>
      <%= link_to "Log out", login_path, :class => 'sub-nav__item', :method => 'delete' %>
    </div>
  </div>

  <% end %>

  <main class="main">

    <%= yield %>

  </main>

</body>
</html>
