<!DOCTYPE html>
<html>
  <head>
    <title>SorterApp</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header class="header">
      <div class="header__user">

        <!--  Conditional links -->
        <% if @current_user.present? %>
        Logged in as: <%= @current_user.email %>

        <% else %>
          <%= link_to 'Sign up', signup_path %>
          <%= link_to 'Log in', login_path %>
        <% end %>
        <!--  End conditional links -->

      </div>
      <h1>Sorter App 0.1</h1>

      <nav class="nav">
        <ul>
        <li><%= link_to "Home", root_path %></li>


      </ul>
    </nav>
  </header>

  <main class="main">

    <%= yield %>

  </main>

</body>
</html>
